[access]
	inheritFrom = All-Projects
[project]
	description = The repository for modeling specification published by modeling subcommittee
[access "refs/*"]
	owner = group ldap/onap-gerrit-modeling-modelspec-committers
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
	matching = refs/heads/beijing:refs/heads/beijing
